AddKeysToAgent yes

Host github.com
    PubkeyAuthentication yes
    IdentityFile ~/.ssh/id_ed25519_github

Host gitlab.com
    PubkeyAuthentication yes
    IdentityFile ~/.ssh/id_ed25519_gitlab


Host *
    PubkeyAuthentication no
    IdentitiesOnly yes
