[Unit]
Description=Timer to run refresh_pacman_mirrorlist.service

[Timer]
OnCalendar=Mon *-*-* 14:00:00
Persistent=true

[Install]
WantedBy=timers.target
