[Unit]
Description=Job to run the script which refreshes the pacman mirrorlist

[Service]
Type=oneshot
ExecStart=/home/gautam/play/gautam_linux/refresh_pacman_mirrorlist.sh
